// =======================================
// botton
// =======================================

.c-btn{
    border: none;
    border-radius: 3px;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    &:hover{
    cursor: pointer;
    opacity:0.7;
    transition: all .3s;
    }
    &-submit{
    background-color: $font-color;
    color: #fff;
    box-shadow: 3px 6px 6px #7e99a2; 
    transition: all .3s;
        &:hover{
            background: #3092b2;
            transition: all .3s;
            transform: translateY(3px);
            transform: translateY(3px);
            transform: translateY(3px);
            box-shadow: 3px 3px 3px #7e99a2;
        }
    &:disabled{
    cursor: not-allowed;
        }
    }
    &-prof{
        &__name{
            margin: 0 5px 0 10px;
        }
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3px 10px;
        transition: all .5s;
        margin-right: 10px;
        &--twitter{
            background-color: #2abaf1;
             font-size: 12px;
             }
             &--qiita{
            background-color:#9fe16d;
             }
             &--github{
                 background-color: #454545;
                  font-size: 16px;
                  }
    }
}
