// =======================================
// input
// =======================================

.c-input{
  border: none; 
  border-radius: 3px;
  outline: none;
          width: 100%;
            margin:$space_m 0;
            padding: $space_l;
            background-color: #FEFDEB;
            font-size: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          -webkit-transition: all .3s;
          transition: all .3s;
            box-sizing: border-box;
            &--sb{
              background-color: $font-color;
            } 
        &--t, &--m, &--sb,
        &--tx {
            &:focus{
          box-shadow: 0 0 7px $font-color;
          border: 1px solid $font-color;
            }
}
}