// =======================================
// fade-in
// =======================================

/*下から上にフェードイン*/
.u-down-to-top {
  opacity: 0.1;
  transform: translateY(30px);
  transition: all 1s;
    &.scrollin {
    opacity: 1;
    transform: translateY(0);
  }
}