// =======================================
// margin
// =======================================

.u-mg{
    margin: $space_l;
    flex-direction: column;
    &-left{
        &-10{
            margin-left: $space_s;
        }
    }
}