.p-panel{
    width: calc(25% - 5%);
    height: auto;
    float: left;
    margin: 0 5% 3% 0;
    box-sizing: border-box;
    transition: .3s;
    @include mq(){
      width: calc(50% - 5%); 
    }
    @include mq(md){
      width: calc(33.3% - 5%); 
    }
          &__tr{
         overflow: hidden;
          }
          &__img{
          transition: .3s;
          opacity: 0.9;
          border: solid 1px #106A88;
          height: 140px;
          width: 300px;
          border-radius: 3px;
          @include mq(){
            height: 100px;
          }
          @include mq(md){
            height: 100px; 
          }
          @include mq(lg){
            height: 100px; 
          }
              &:hover{
              transform: rotate(3deg) scale(1.11);
              transition: .3s;
              opacity: 1;
              }
          }
      }