
// =======================================
// footer
// =======================================

.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: $site-width;
    background: $content-bg;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}