
// =======================================
// footer
// =======================================

.footer{
    background: $content-bg;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__copy{
        @include mq(){
            font-size:12px;
        }
    }
}